/* Navigation Heading */
.Container {
  display: flex;
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px solid black;
  align-items: center;
  padding: 10px;
}

.logo {
  border: 1px solid black;
  padding: 8px;
  display: inline-flex;
}

.times {
  color: MediumAquamarine;
  align-self: center;
  margin: 10px;
  }

.nav {
  margin-left: auto;
  padding: 20px;
}

.li {
  padding: 10px
}

div {
  border: 1px solid black;
}
/* Content */
.Main {
  display: flex;
  border: 1px solid black;
  justify-content: center;
}

/* 1st Column */
.large {
  width: 630px;
  border: 2px solid black;
  margin: 20px;
}

.phish { /* main image container */
  background-image: url(./images/main.png);
  height: 250px;
  display: flex;
}

.headline { /* main item */
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  margin: 0;
}

.earth { /* second image container */
  background-image: url(./images/fall.png);
  height: 300px;
  display: flex;
  justify-content: center;
}

.backwards { /*second item */
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin: 0;
}

.research { /* third image container*/
  background-image: url(./images/hipster.png);
  height: 300px;
  display: flex;
  align-content: space-around;
}

.cameras { /*third item */
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin: 0;
}

.medium {
  width: 300px;
  border: 2px solid black;
  margin: 20px;
}

.medium-column {
  border: 1px solid black;
}

.small {
  width: 240px;
  margin: 20px;
  border: 2px solid black;
  align-items: stretch;
}

.small-column {
  border: 1px solid black;
}
