.Container {
  display: flex;
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px solid black;
  align-items: center;
  padding: 10px;
}

.times {
  color: MediumAquamarine;
  padding: 10px;
}

.nav {
  margin-left: auto;
  padding: 20px;
}

.li {
  padding: 10px
}
